In [1]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [13]:
df = pd.read_csv('data/2010/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV')
df

                                         Label Estimate Margin of Error
0                  Population 5 years and over   67,542          ±6,384
1                                 English only    32.3%            ±4.3
2                  Language other than English    67.7%            ±4.3
3          Speak English less than "very well"    20.3%            ±4.0

In [27]:
def read_file_details(file, year):
    df = pd.read_csv(file)
    df['Label'] = df['Label'].apply(lambda x: x.lstrip())
    df['Estimate'] = df['Estimate'].apply(lambda x: x.rstrip('%'))
    df['Estimate'] = df['Estimate'].apply(lambda x: x.replace(',', ''))
    df['Estimate'] = df['Estimate'].astype(float)
    df.drop(['Margin of Error'], axis=1, inplace=True)
    df.set_index('Label', inplace=True)
    df = df.T
    df.index = [year]
    return df

In [28]:
read_file_details('data/2010/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2010)

Label,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well"""
2010,67542.0,32.3,67.7,20.3

In [29]:
for year in range(2010, 2023):
    file = 'data/'+str(year)+'/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV'
    
    try:
        read_file_details(file, year)
    except:
        print(f"No file for year '{year}'")

No file for year '2020'

In [31]:
LANUAGE_SPOKEN_2010 = read_file_details('data/2010/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2010)
LANUAGE_SPOKEN_2011 = read_file_details('data/2011/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2011)
LANUAGE_SPOKEN_2012 = read_file_details('data/2012/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2012)
LANUAGE_SPOKEN_2013 = read_file_details('data/2013/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2013)
LANUAGE_SPOKEN_2014 = read_file_details('data/2014/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2014)
LANUAGE_SPOKEN_2015 = read_file_details('data/2015/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2015)
LANUAGE_SPOKEN_2016 = read_file_details('data/2016/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2016)
LANUAGE_SPOKEN_2017 = read_file_details('data/2017/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2017)
LANUAGE_SPOKEN_2018 = read_file_details('data/2018/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2018)
LANUAGE_SPOKEN_2019 = read_file_details('data/2019/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2019)
LANUAGE_SPOKEN_2021 = read_file_details('data/2021/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2021)
LANUAGE_SPOKEN_2022 = read_file_details('data/2022/LANGUAGE_SPOKEN_AT_HOME_AND_ABILITY_TO_SPEAK_ENGLISH.CSV', 2022)

In [32]:
LANUAGE = pd.concat([LANUAGE_SPOKEN_2010, LANUAGE_SPOKEN_2011, LANUAGE_SPOKEN_2012, LANUAGE_SPOKEN_2013, LANUAGE_SPOKEN_2014, LANUAGE_SPOKEN_2015, LANUAGE_SPOKEN_2016, LANUAGE_SPOKEN_2017, LANUAGE_SPOKEN_2018, LANUAGE_SPOKEN_2019, LANUAGE_SPOKEN_2021, LANUAGE_SPOKEN_2022])
LANUAGE

Label,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well"""
2010,67542.0,32.3,67.7,20.3
2011,69907.0,35.6,64.4,23.8
2012,72440.0,31.9,68.1,22.5
2013,78332.0,32.9,67.1,20.7
2014,75991.0,33.5,66.5,17.7
2015,77176.0,36.7,63.3,18.1
2016,71409.0,39.4,60.6,18.6
2017,78229.0,37.3,62.7,19.3
2018,84076.0,36.6,63.4,19.3
2019,85921.0,39.8,60.2,16.6
2021,83995.0,45.0,55.0,16.0
2022,86058.0,40.0,60.0,16.7

In [33]:
LANUAGE.reset_index(inplace=True)
LANUAGE.rename(columns={'index': 'Year'}, inplace=True)
LANUAGE

Label,Year,Population 5 years and over,English only,Language other than English,"Speak English less than ""very well"""
0,2010,67542.0,32.3,67.7,20.3
1,2011,69907.0,35.6,64.4,23.8
2,2012,72440.0,31.9,68.1,22.5
3,2013,78332.0,32.9,67.1,20.7
4,2014,75991.0,33.5,66.5,17.7
5,2015,77176.0,36.7,63.3,18.1
6,2016,71409.0,39.4,60.6,18.6
7,2017,78229.0,37.3,62.7,19.3
8,2018,84076.0,36.6,63.4,19.3
9,2019,85921.0,39.8,60.2,16.6
10,2021,83995.0,45.0,55.0,16.0
11,2022,86058.0,40.0,60.0,16.7