In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [49]:
def owner(file1,file2,year):
    # Read in files
    co = pd.read_csv(file1)
    ch = pd.read_csv(file2)

    # Get rid of spaces in Labels
    co['Label'] = co['Label'].apply(lambda x: x.lstrip())
    ch['Label'] = ch['Label'].apply(lambda x: x.lstrip())

    # Convert estimates to float
    co['Percentage'] = co['Estimate'].apply(lambda x: float(x.rstrip('%'))/100 if '%' in x else None)
    ch['Estimate'] = ch['Estimate'].apply(lambda x: float(x.replace(',','')))

    # Move Total Housing Unit w/ a Mortgage from row to column
    co['Total Housing Units w/ a Mortgage'] = int(co.iloc[0]['Estimate'].replace(',',''))
    co.dropna(inplace=True)

    # Drop unnecessary columns
    co.drop(columns=['Estimate','Margin of Error'], inplace=True)
    ch.drop(columns=['Margin of Error'], inplace=True)

    # Calculate population estimates
    co['Population Estimate'] = co['Percentage']*co['Total Housing Units w/ a Mortgage']

    # Drop unnecessary columns
    co.drop(columns=['Percentage', 'Total Housing Units w/ a Mortgage'], inplace=True)

    # Change index and transpose table
    co.set_index('Label', inplace=True)
    co = co.T
    ch.set_index('Label', inplace=True)
    ch = ch.T

    # Change index to year
    co.index = [year]
    ch.index = [year]

    # Calculate extra columns
    co['Total Housing Units w/ a Mortgage'] = co.sum(axis=1)

    # Rename columns
    co = co.rename(columns={'Less than 30 percent': 'Households w/ monthly mortgage less than 30 percent of household income', '30 percent or more': 'Households w/ monthly mortgage 30 percent or more of household income'})
    ch = ch.rename(columns={'Owner-occupied housing units':'Total Owner-Occupied Housing Units', 'Median value (dollars)':'Median House Value (dollars)', 'Median selected monthly owner costs with a mortgage (dollars)':'Median Monthly Owner Costs w/ a Mortgage (dollars)', 'Median selected monthly owner costs without a mortgage (dollars)':'Median Monthly Owner Costs w/o a Mortgage (dollars)'})

    # Rearrange columns
    ch = ch[['Median Monthly Owner Costs w/ a Mortgage (dollars)','Median Monthly Owner Costs w/o a Mortgage (dollars)','Median House Value (dollars)','Total Owner-Occupied Housing Units']]

    # Merge dataframes
    df = co.merge(ch, left_index=True, right_index=True)

    return df

In [50]:
owner('data/2022/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2022/OWNER_CHARACTERISTICS.CSV',2022)

Label,Households w/ monthly mortgage less than 30 percent of household income,Households w/ monthly mortgage 30 percent or more of household income,Total Housing Units w/ a Mortgage,Median Monthly Owner Costs w/ a Mortgage (dollars),Median Monthly Owner Costs w/o a Mortgage (dollars),Median House Value (dollars),Total Owner-Occupied Housing Units
2022,10960.636,4178.364,15139.0,2269.0,876.0,353100.0,20580.0

In [ ]:
data/2022/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV
data/2022/OWNER_CHARACTERISTICS.CSV

In [51]:
for year in range(2010,2023):
    file1 = 'data/'+str(year)+'/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV'
    file2 = 'data/'+str(year)+'/OWNER_CHARACTERISTICS.CSV'

    try:
        owner(file1,file2,year)
    except:
        print(f"No file for year '{year}'")

No file for year '2020'

In [52]:
OWNER_COSTS_CHARACTERISTICS_2022 = owner('data/2022/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2022/OWNER_CHARACTERISTICS.CSV',2022)
OWNER_COSTS_CHARACTERISTICS_2021 = owner('data/2021/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2021/OWNER_CHARACTERISTICS.CSV',2021)
OWNER_COSTS_CHARACTERISTICS_2019 = owner('data/2019/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2019/OWNER_CHARACTERISTICS.CSV',2019)
OWNER_COSTS_CHARACTERISTICS_2018 = owner('data/2018/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2018/OWNER_CHARACTERISTICS.CSV',2018)
OWNER_COSTS_CHARACTERISTICS_2017 = owner('data/2017/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2017/OWNER_CHARACTERISTICS.CSV',2017)
OWNER_COSTS_CHARACTERISTICS_2016 = owner('data/2016/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2016/OWNER_CHARACTERISTICS.CSV',2016)
OWNER_COSTS_CHARACTERISTICS_2015 = owner('data/2015/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2015/OWNER_CHARACTERISTICS.CSV',2015)
OWNER_COSTS_CHARACTERISTICS_2014 = owner('data/2014/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2014/OWNER_CHARACTERISTICS.CSV',2014)
OWNER_COSTS_CHARACTERISTICS_2013 = owner('data/2013/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2013/OWNER_CHARACTERISTICS.CSV',2013)
OWNER_COSTS_CHARACTERISTICS_2012 = owner('data/2012/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2012/OWNER_CHARACTERISTICS.CSV',2012)
OWNER_COSTS_CHARACTERISTICS_2011 = owner('data/2011/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2011/OWNER_CHARACTERISTICS.CSV',2011)
OWNER_COSTS_CHARACTERISTICS_2010 = owner('data/2010/SELECTED_MONTHLY_OWNER_COSTS_AS_A_PERCENTAGE_OF_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS.CSV','data/2010/OWNER_CHARACTERISTICS.CSV',2010)

In [53]:
OWNER_COSTS_CHARACTERISTICS = pd.concat([OWNER_COSTS_CHARACTERISTICS_2022,OWNER_COSTS_CHARACTERISTICS_2021,OWNER_COSTS_CHARACTERISTICS_2019,OWNER_COSTS_CHARACTERISTICS_2018,OWNER_COSTS_CHARACTERISTICS_2017,OWNER_COSTS_CHARACTERISTICS_2016,OWNER_COSTS_CHARACTERISTICS_2015,OWNER_COSTS_CHARACTERISTICS_2014,OWNER_COSTS_CHARACTERISTICS_2013,OWNER_COSTS_CHARACTERISTICS_2012,OWNER_COSTS_CHARACTERISTICS_2011,OWNER_COSTS_CHARACTERISTICS_2010])
OWNER_COSTS_CHARACTERISTICS

Label,Households w/ monthly mortgage less than 30 percent of household income,Households w/ monthly mortgage 30 percent or more of household income,Total Housing Units w/ a Mortgage,Median Monthly Owner Costs w/ a Mortgage (dollars),Median Monthly Owner Costs w/o a Mortgage (dollars),Median House Value (dollars),Total Owner-Occupied Housing Units
2022,10960.636,4178.364,15139.0,2269.0,876.0,353100.0,20580.0
2021,10035.684,2930.316,12966.0,2018.0,755.0,302000.0,19047.0
2019,9851.016,3042.984,12894.0,2054.0,837.0,286000.0,16448.0
2018,9250.740,4639.260,13890.0,2072.0,797.0,296200.0,18285.0
2017,8113.087,3329.913,11443.0,2056.0,804.0,284200.0,15362.0
2016,6534.668,3612.332,10147.0,2048.0,757.0,279700.0,13595.0
2015,7972.095,3432.905,11405.0,2035.0,853.0,267200.0,14902.0
2014,8482.416,3105.584,11588.0,2228.0,741.0,257700.0,14641.0
2013,6203.134,4814.866,11018.0,2112.0,665.0,230800.0,15049.0
2012,6646.341,4832.659,11479.0,2130.0,819.0,244700.0,14724.0
2011,7284.816,4541.184,11826.0,2238.0,713.0,270300.0,13358.0
2010,7583.337,6229.663,13813.0,2189.0,645.0,263800.0,16419.0

In [54]:
OWNER_COSTS_CHARACTERISTICS.reset_index(inplace=True)
OWNER_COSTS_CHARACTERISTICS.rename(columns={'index':'Year'}, inplace=True)
OWNER_COSTS_CHARACTERISTICS

Label,Year,Households w/ monthly mortgage less than 30 percent of household income,Households w/ monthly mortgage 30 percent or more of household income,Total Housing Units w/ a Mortgage,Median Monthly Owner Costs w/ a Mortgage (dollars),Median Monthly Owner Costs w/o a Mortgage (dollars),Median House Value (dollars),Total Owner-Occupied Housing Units
0,2022,10960.636,4178.364,15139.0,2269.0,876.0,353100.0,20580.0
1,2021,10035.684,2930.316,12966.0,2018.0,755.0,302000.0,19047.0
2,2019,9851.016,3042.984,12894.0,2054.0,837.0,286000.0,16448.0
3,2018,9250.740,4639.260,13890.0,2072.0,797.0,296200.0,18285.0
4,2017,8113.087,3329.913,11443.0,2056.0,804.0,284200.0,15362.0
5,2016,6534.668,3612.332,10147.0,2048.0,757.0,279700.0,13595.0
6,2015,7972.095,3432.905,11405.0,2035.0,853.0,267200.0,14902.0
7,2014,8482.416,3105.584,11588.0,2228.0,741.0,257700.0,14641.0
8,2013,6203.134,4814.866,11018.0,2112.0,665.0,230800.0,15049.0
9,2012,6646.341,4832.659,11479.0,2130.0,819.0,244700.0,14724.0
10,2011,7284.816,4541.184,11826.0,2238.0,713.0,270300.0,13358.0
11,2010,7583.337,6229.663,13813.0,2189.0,645.0,263800.0,16419.0

In [55]:
OWNER_COSTS_CHARACTERISTICS.to_csv('data/final/OWNER_COSTS_CHARACTERISTICS.CSV', index=False)

In [56]:
df = pd.read_csv('data/final/GROSS_RENT.CSV')
df

,Year,Median gross rent (dollars),Households paying rent less than 30 percent of household income,Households paying rent 30 percent or more of household income,Total Occupied Units Paying Rent
0,2022,1426.0,7303.000,3597.000,11078.0
1,2021,1330.0,6371.460,2943.540,9746.0
2,2019,1272.0,6730.506,3196.494,10104.0
3,2018,1179.0,5863.088,3654.912,9652.0
4,2017,1246.0,7312.074,2928.926,10293.0
5,2016,1132.0,6316.661,3446.339,9802.0
6,2015,1185.0,6788.726,3389.274,10178.0
7,2014,1050.0,5250.145,2154.855,7405.0
8,2013,1026.0,7863.840,3566.160,11478.0
9,2012,989.0,6570.585,2018.415,8783.0
10,2011,968.0,5677.960,3480.040,9158.0
11,2010,924.0,4593.888,2768.112,7362.0