In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [14]:
def poverty_rates(file_poverty_rates,file_households_by_type,year):
    # Read in file
    df = pd.read_csv(file_poverty_rates)
    df_households = pd.read_csv(file_households_by_type)

    # Get rid of spaces in Labels
    df['Label'] = df['Label'].apply(lambda x: x.lstrip())

    # Convert percentage estimates to float
    df['Percentage'] = df['Estimate'].apply(lambda x: float(x.rstrip('%'))/100 if '%' in x else None)

    # Move Total Household Population from row to column
    df['Total Household Population'] = int(df_households.iloc[0]['Estimate'].replace(',',''))
    df.dropna(inplace=True)

    # Drop unnecessary columns
    df.drop(columns=['Estimate','Margin of Error'], inplace=True)

    # Calculate population estimates
    df['Population Estimate'] = df['Percentage']*df['Total Household Population']

    # Drop unnecessary columns
    df.drop(columns=['Percentage','Total Household Population'], inplace=True)

    

    # Change index and transpose table
    df.set_index('Label', inplace=True)
    df = df.T

    # Change index to year
    df.index = [year]

    return df

In [16]:
poverty_rates('data/2022/POVERTY_RATES_FOR_FAMILIES_AND_PEOPLE_FOR_WHOM_POVERTY_STATUS_IS_DETERMINED.CSV','data/2022/HOUSEHOLDS_BY_TYPE.csv',2022)

Label,All families,With related children of the householder under 18 years,Married-couple family,With related children of the householder under 18 years,"Female householder, no spouse present, family",With related children of the householder under 18 years,All people,Under 18 years,Related children of the householder under 18 years,Related children of the householder under 5 years,Related children of the householder 5 to 17 years,18 years and over,18 to 64 years,65 years and over,People in families,Unrelated individuals 15 years and over
2022,1738.26,2446.44,965.7,1094.46,3251.19,3862.8,2349.87,3025.86,3025.86,5182.59,2349.87,2188.92,1995.78,2800.53,1802.64,5407.92

In [ ]:
def concat_data():
    years = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022]
    df_list=[]
    for year in range(len(years)):
        try:
            df_list.append(worker_class(f'data/{years[year]}/CLASS_OF_WORKER.CSV',years[year]))
        except: 
            continue
    df= pd.concat(df_list)
    df.reset_index(inplace=True)
    df.rename(columns={'index':'Year'}, inplace=True)
    return df

In [ ]:
CLASS_OF_WORKER = concat_data()
CLASS_OF_WORKER

In [ ]:
CLASS_OF_WORKER.to_csv('data/final/CLASS_OF_WORKER.CSV', index=False)