In [11]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore")

In [12]:
df_1 = pd.read_csv('data/2010/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV')
df_1

                                     Label Estimate Margin of Error
0             Population 30 years and over   45,809          ±3,943
1              Living with grandchild(ren)     2.8%            ±1.6
2          Responsible for grandchild(ren)        N               N

In [13]:
# how to drow a row under the column names

In [14]:
def read_file(file, year):
    df = pd.read_csv(file)
    df = df.iloc[:2]
    df['Label'] = df['Label'].apply(lambda x: x.lstrip())
    df['Estimate'] = df['Estimate'].apply(lambda x: x.rstrip('%'))
    df['Estimate'] = df['Estimate'].apply(lambda x: x.replace(',', ''))
    df['Estimate'] = df['Estimate'].astype(float)    
    df.drop(['Margin of Error'], axis=1, inplace=True)
    df.set_index('Label', inplace=True)
    df = df.T
    df.index = [year]
    try:
        df.rename(columns={'Living with grandchild(ren)': 'Grandparents living with grandchild(ren)'}, inplace=True)
    except:
        pass
    df.rename(columns={'Grandparents living with grandchild(ren)': 'Grandparents Living with Grandchild(ren)'}, inplace=True)

    return df

In [15]:
read_file('data/2010/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2010)

Label  Population 30 years and over  Grandparents Living with Grandchild(ren)
2010                        45809.0                                       2.8

In [16]:
for year in range(2010, 2023):
    file = 'data/'+str(year)+'/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV'
    
    try:
        read_file(file, year)
    except:
        print(f"No file for year '{year}'")

No file for year '2020'

In [17]:
RESPONSIBILITY_FOR_GRANDKIDS_2010 = read_file('data/2010/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2010)
RESPONSIBILITY_FOR_GRANDKIDS_2011 = read_file('data/2011/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2011)
RESPONSIBILITY_FOR_GRANDKIDS_2012 = read_file('data/2012/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2012)
RESPONSIBILITY_FOR_GRANDKIDS_2013 = read_file('data/2013/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2013)
RESPONSIBILITY_FOR_GRANDKIDS_2014 = read_file('data/2014/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2014)
RESPONSIBILITY_FOR_GRANDKIDS_2015 = read_file('data/2015/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2015)
RESPONSIBILITY_FOR_GRANDKIDS_2016 = read_file('data/2016/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2016)
RESPONSIBILITY_FOR_GRANDKIDS_2017 = read_file('data/2017/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2017)
RESPONSIBILITY_FOR_GRANDKIDS_2018= read_file('data/2018/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2018)
RESPONSIBILITY_FOR_GRANDKIDS_2019= read_file('data/2019/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2019)
RESPONSIBILITY_FOR_GRANDKIDS_2021= read_file('data/2021/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2021)
RESPONSIBILITY_FOR_GRANDKIDS_2022= read_file('data/2022/RESPONSIBILITY_FOR_GRANDCHILDREN_UNDER_18_YEARS.CSV', 2022)

In [18]:
RESPONSIBILITY = pd.concat([RESPONSIBILITY_FOR_GRANDKIDS_2010, RESPONSIBILITY_FOR_GRANDKIDS_2011, RESPONSIBILITY_FOR_GRANDKIDS_2012, RESPONSIBILITY_FOR_GRANDKIDS_2013, RESPONSIBILITY_FOR_GRANDKIDS_2014, RESPONSIBILITY_FOR_GRANDKIDS_2015, RESPONSIBILITY_FOR_GRANDKIDS_2016, RESPONSIBILITY_FOR_GRANDKIDS_2017, RESPONSIBILITY_FOR_GRANDKIDS_2018, RESPONSIBILITY_FOR_GRANDKIDS_2019, RESPONSIBILITY_FOR_GRANDKIDS_2021, RESPONSIBILITY_FOR_GRANDKIDS_2022])

In [19]:
RESPONSIBILITY

Label  Population 30 years and over  Grandparents Living with Grandchild(ren)
2010                        45809.0                                       2.8
2011                        46850.0                                       7.4
2012                        49964.0                                       4.2
2013                        53241.0                                       3.2
2014                        50744.0                                       5.9
2015                        52487.0                                       7.5
2016                        48665.0                                       6.1
2017                        55166.0                                       6.3
2018                        57864.0                                       5.3
2019                        58764.0                                       6.8
2021                        57448.0                                       3.8
2022                        60275.0                                       4.2

In [20]:
RESPONSIBILITY.reset_index(inplace=True)
RESPONSIBILITY.rename(columns={'index': 'Year'}, inplace=True)
RESPONSIBILITY

Label,Year,Population 30 years and over,Grandparents Living with Grandchild(ren)
0,2010,45809.0,2.8
1,2011,46850.0,7.4
2,2012,49964.0,4.2
3,2013,53241.0,3.2
4,2014,50744.0,5.9
5,2015,52487.0,7.5
6,2016,48665.0,6.1
7,2017,55166.0,6.3
8,2018,57864.0,5.3
9,2019,58764.0,6.8
10,2021,57448.0,3.8
11,2022,60275.0,4.2